/* Enter your custom styles here */
.btnBig {
    height: 6em !important;
    width: 35em !important;
    margin-right: 2em;
    border-radius: 10px;
    padding: 0px !important;
    background-color: red;
}

.btnInnerBig .sapMBtnInner {
    font-size: 1.8em !important;
    height: 100% !important;
    align-items: center !important;
    background-color: #bbbbbb;
    color: blue;
}

.btnBlue .sapMBtnInner {
    background-color: #5555ff;
}
